* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --rød: #fa5d5d;
  --dark: #3f4140;
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "Nexa";
  src: url("../fonts/Nexa-Heavy.ttf");
}

body {
  background-color: #3f4140;
  width: 100vw;
  height: auto;
}

a,
a:visited,
a:active {
  color: #e9e9e9;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  text-decoration: line-through;
  color: #f69c9c;
}

/* --- TEXT STYLES --- */
h1,
h2,
h3,
h4 {
  font-family: "Nexa", sans-serif;
  color: #e9e9e9;
  margin-bottom: 5px;
}

p,
ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #e9e9e9;
  margin-bottom: 10px;
  margin-left: 1rem;
  line-height: 23px;
}

h1 {
  font-size: 100px;
  margin-bottom: -70px;
  margin-top: -20px;
  text-align: center;
}

h2 {
  font-size: 100px;
  margin: 25px 0px 90px 0;
  color: transparent;
  -webkit-text-stroke: 1px #e9e9e9;
  line-height: 100px;
  text-align: center;
}

h3 {
  font-size: 25px;
  margin-top: 35px;
  margin-bottom: 15px;
  text-align: center;
}

h4 {
  margin-bottom: -5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.kontakt {
  display: flex;
  justify-content: center;
}

.banner {
  background-color: var(--rød);
}

.header {
  width: 100%;
  margin: 0 auto 0 auto;
}

.colored_line {
  grid-column: 1/3;
  border: none;
  height: 1px;
  background-color: var(--rød);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--rød);

  p {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 500px) {
  .foto {
    text-align: center;
  }
  img {
    width: 80%;
  }

  h4 {
    margin-bottom: 10px;
    line-height: 20px;
  }

  .kompetancer {
    line-height: 35px;
    -webkit-columns: 250px 3;
    -moz-columns: 250px 3;
    columns: 250px 3;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (min-width: 610px) {
  img {
    width: 50%;
  }
}

@media only screen and (min-width: 710px) {
  h2 {
    margin-bottom: 20px;
  }

  .projekter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
  }

  .projekter .billede_container {
    width: 80%;
    margin: 0 auto;
  }

  .tilbyde {
    width: 80%;
    margin: 0 auto;
    line-height: 35px;
    -webkit-columns: 250px 2;
    -moz-columns: 250px 2;
    columns: 250px 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }
}

@media only screen and (min-width: 900px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .banner {
    grid-column: 1/2;
    height: 100vh;
    width: 30%;
    position: fixed;
  }

  .grid {
    grid-column: 2/3;
    margin-left: -170px;
  }

  .om-mig {
    padding-right: 10px;
  }

  .banner img {
    width: 90%;
  }

  .kontakt {
    width: 90%;
    flex-direction: column;
  }

  footer {
    grid-column: 1/4;
    width: 100%;
  }
}
