* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nexa";
  src: url("../fonts/Nexa-Heavy.ttf");
}

body {
  background-color: #3f4140;
  width: 100vw;
  height: auto;
}

a,
a:visited,
a:active {
  color: #e9e9e9;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  text-decoration: line-through;
  color: #f69c9c;
}

/* --- TEXT STYLES --- */
h1,
h2,
h3,
h4 {
  font-family: "Nexa", sans-serif;
  color: #e9e9e9;

  margin-bottom: 5px;
}

p,
ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #e9e9e9;
  margin-bottom: 10px;
  line-height: 23px;
}

h1 {
  font-size: 100px;
  margin-bottom: -70px;
  margin-top: -20px;
}

h2 {
  font-size: 100px;
  margin-left: 97px;
  margin-bottom: -50px;
  color: transparent;
  -webkit-text-stroke: 1px #e9e9e9;
}

h3 {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: -50px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.banner h3 {
  margin-top: 10px;
  margin-bottom: 30px;
}

br {
  margin-bottom: 14px;
}

/* --- CLASSES --- */

.colored_line {
  grid-column: 1/3;
  border: none;
  height: 1px;
  background-color: #fa5d5d;
}

.grid_1-3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: auto;
  width: 100%;
}

.grid_1-1 {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 40px;
  gap: 100px;
  margin-left: 350px;
}

.headline {
  grid-column: 1/3;
}

.aboutme {
  grid-column: 1/3;
  columns: 2;
  column-gap: 100px;
  margin-top: -100px;
  padding-top: 0px;
}

.kompetancer {
  display: flex;
  align-items: baseline;
  gap: 30px;
}

.banner {
  position: fixed;
  width: auto;
  height: 100%;
  background-color: #fa5d5d;
  padding: 20px;
}

.about img {
  width: 300px;
  height: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.billeder_cont {
  grid-column: 1/3;
}

.billeder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
